body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
}

#background-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#background-video .video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.84) 40%, rgba(0, 0, 0, 0) 70%);
  z-index: 1;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  z-index: 100;
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 4em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.search-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4em;
  width: 50%;
}

.search {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 50%;
  width: max-content;
  flex-grow: 1;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #16171d;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

/* ====== Style hasil live-search ======= */
.search-results {
  position: absolute;
  top: 45px; /* Supaya ada di bawah search bar */
  background-color: #1e1e1e;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 0 0 12px 12px;
}

/* Dipisah agar tidak muncul garis hitam di bawah search bar ketika input kosong*/
.search-results.has-results {
  border: 1px solid #333333;
  display: block;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #fff;
}

.search-result-item:hover {
  background-color: #333;
}

.search-result-item img {
  width: 4em;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.search-result-item .details {
  flex: 1; /* Mengisi ruang kosong di kanan */
}

.search-result-item .details h3 {
  margin: 0.5em 0;
  font-size: 1em;
}
/* ====================================== */


.search-login button {
  margin-left: 20px;
  border: none;
  cursor: pointer;
}

.login {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  border-radius: 50px;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.login::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.login:hover::after {
  transform: scale(4);
}

.login:hover {
  border-color: #666666;
  background: #292929;
}

button.get-started {
  --primary-color: #ffff;
  --secondary-color: #002152;
  --hover-color: #eceff2;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.get-started .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.get-started .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.get-started:hover {
  background-color: var(--hover-color);
}

.get-started:hover .arrow {
  background: var(--secondary-color);
}

.get-started:hover .arrow:before {
  right: 0;
}

/* ==== Style Profil ==== */

.profile-link {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile .username {
  margin-left: 10px;
  font-size: large;
}

/* ======================= */

/* ===== Style Logout ====== */

.logout {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-starts;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--night-rider);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--af-white);
}

/* text */
.logout-text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--af-white);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
.logout:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.logout:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-right: 20px;
}

/* hover effect button's text */
.logout:hover .logout-text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect */
.logout:active {
  transform: translate(2px, 2px);
}

/* ============================== */

main {
  margin: 5em 5em;
}

section {
  margin-bottom: 10em;
}

.highlight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  height: 30em;
  text-align: left;
}

.highlight-content {
  max-width: 30%;
  border-radius: 10%;
  padding: 2rem 1rem;
}

.highlight-content h1 {
  font-size: 3.2em;
  margin: 0.1em 0;
}

.highlight-content p {
  margin: 1em 0;
}

.highlight-image img {
  max-width: 100%;
  height: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  position: relative;
  background-color: #1e1e1e;
  border: 1px solid #333333;
  width: 220px;
  box-sizing: border-box;
  text-align: center;
}

.card img {
  max-width: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
  color: white;
  padding: 0.5em;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
}

.card-content h3 {
  margin: 0.5em 0;
  padding-left: 0.5em;
  text-align: left;
  font-size: large;
}

.card-content p {
  margin: 0.5em 0;
  padding-left: 0.5em;
  text-align: left;
  font-size: large;
  max-width: 100%; /* Membatasi lebar p tag sesuai dengan card */
  white-space: nowrap; /* Hindari wrapping teks secara default */
  overflow: hidden; /* Sembunyikan teks yang keluar batas */
  text-overflow: ellipsis; /* Tampilkan ellipsis jika teks terlalu panjang */
}

footer {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  color: white;
  background-color: #1e1e1e;
  bottom: 0;
}

.footer-links,
.social-icons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.show-more {
  display: block;
  margin: 2em auto;
  padding: 0.5em 2em;
  background-color: #ff4500;
  color: #ffffff;
  border: none;
  cursor: pointer;
}



